<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <br><br><br><br>

<h4 style="display:inline">Go to my <a href="https://in.linkedin.com/in/shubham-khandelwal-328429192" target="_blank">LinkedIn Profile</a></h4>

<%- include("partials/footer"); -%>
