<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <center>
      <h1>ERROR 404...</h1>
      <br><br>
      <h2>Requested Page Does Not Exist</h2>
      </center>
  </div>
</div>

<%- include('partials/footer') %>
