<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Login details not correct</h1>
    <br><br>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
