<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Posted successfully.</h1>
    <br><br>
    <a class="btn btn-primary" href="/another" role="button">Write another post.</a>
    <br><br>
    <a class="btn btn-primary" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
